<div style="background-color:#2F545D;">
<div class="row">
  <div class="columns large-12">
    <h5 class="text-center">Requisitions Active</h5>
    <br>
  </div>
</div>

<div class="row">
  <div class="colums large-9 small-offset-1">

    <table tabe>
      <thead>
        <tr>
          <th width="100">Number Requisition</th>
          <th width="150">Description</th>
        </tr>
      </thead>
      <tbody>
        <% @requisitions.each do |requisition| %>
          <tr>
            <td><%= link_to requisition.number, requisition_path(requisition)  %></td>
            <td><%= requisition.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
<br>
<br>
<h5 class="text-center">Requisitions Pending</h5>
<br>
<div class="row">
  <div class="colums large-9 small-offset-1">

    <table style="background-color:#9CA9AB;">
      <thead>
        <tr>
          <th width="100">Number Requisition</th>
          <th width="150">Description</th>
          <th width="15">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @requisitions.each do |requisiton| %>
          <tr>
            <td><%= link_to requisiton.number, requisition_path(requisiton) %></td>
            <td><%= requisiton.description %></td>
            <td class="text-center"><a class="button small" href="#">Send</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
