<div class="row">
  <div class="columns large-12">
    <h2 class="text-center">Requisitions Active</h2>
    <br>
  </div>
</div>

<div class="row">
  <div class="colums large-9 small-offset-1">

    <table class="hover tabla">
      <thead>
        <tr>
          <th width="100">Number Requisition</th>
          <th width="150">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>123456789</td>
          <td>Elementos quimicos para tratamiento de materiales</td>
        </tr>
        <tr>
          <td>987654321</td>
          <td>Articulos electricos para instalacion de nuevos cubiculos</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>
<br>
<br>
<h2 class="text-center">Requisitions Pending</h2>
<br>
<div class="row">
  <div class="colums large-9 small-offset-1">

    <table class="hover tabla">
      <thead>
        <tr>
          <th width="100">Number Requisition</th>
          <th width="150">Description</th>
          <th width="15">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>123456789</td>
          <td>Elementos quimicos para tratamiento de materiales</td>
          <td class="text-center"><a class="button primary" href="#">Send</a></td>
        </tr>
        <tr>
          <td>987654321</td>
          <td>Articulos electricos para instalacion de nuevos cubiculos</td>
          <td class="text-center"><a class="button primary" href="#">Send</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
