<div class="primary-container">
  <div class="row">
    <div class="columns medium-2 medium-offset-1 small-6 ">
      <figure>
        <img src="" alt="" />
      </figure>
    </div>
    <div class="columns medium-4 medium-offset-4 small-6">
      <a href="#" class="button">Info</a>
      <a href="#" class="button">Button</a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="columns small-12">
      <h6 class="text-center">Pending Requisition to Suply</h6>
    </div>
    <div class="columns medium-10 medium-offset-1 small-12 ">
      <table>
        <thead>
          <tr>
            <th id="state">State</th>
            <th id="dogs">Dogs</th>
            <th id="cats">Cats</th>
            <th id="rabbits">Rabbits</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="california" headers="state">California</td>
            <td headers="dogs california">3</td>
            <td headers="cats california">1</td>
            <td headers="rabbits california">10</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="columns small-12">
      <h6 class="text-center">Available Requisitons</h6>
    </div>
    <div class="columns medium-10 medium-offset-1 small-12 ">
      <table>
        <thead>
          <tr>
            <th id="Number">Number</th>
            <th id="Description">Description</th>
          </tr>
        </thead>
        <tbody>
          <% @available_requisitions.each do |requisition| %>
            <tr>
              <td ><%= link_to requisition.number, new_requisition_offer_path(requisition) %></td>
              <td ><%= requisition.description %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
